/**
 * Created by Muhamad Firly Ramadan
 * Instagram: @mframadann
 * Technical information - Backend Developer
 * Copy this code? please don't remove this watermark
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --color-primary: #0096ff;
  --color-secondary: #0096ff;
  --color-todo-primary: #171717;
  --color-todo-secondary: #262626;
}

body {
  font-family: "Poppins";
}

.wrapping {
  width: 100%;
  height: 100%;
  background-color: var(--color-todo-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0px 3rem 0px;
}

.forms {
  width: 90%;
  max-width: 600px;
  height: 50px;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem;
}
.message {
  width: 90%;
  max-width: 600px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 1rem;
}

.message-wrap {
  width: 100%;
  color: rgba(255, 255, 255, 0.812);
  height: 30px;
  display: flex;
  letter-spacing: 3px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.hidden {
  display: none;
}

.forms input {
  width: 70%;
  height: 30px;
  border-radius: 15px;
  margin: 6px;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-primary);
  font-family: "Poppins";
  font-weight: bold;
}

.forms input::placeholder {
  color: var(--color-primary);
  font-weight: bold;
  letter-spacing: 1px;
}

.forms input:focus {
  outline: none;
}

.forms button {
  width: 25%;
  height: 40px;
  border-radius: 15px;
  background-color: var(--color-primary);
  border: none;
  font-family: "Poppins";
  font-weight: bold;
}

.forms button:focus {
  transition: all;
  box-shadow: 0 0 0 3px var(--color-secondary);
  transition-duration: 300ms;
}

.lists {
  width: 90%;
  max-width: 600px;
  height: 100vh;
  margin: 1rem;
  padding: 1rem;
}

.todos {
  width: 100%;
  height: 40px;
  color: var(--color-primary);
  font-size: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  background-color: var(--color-todo-secondary);
  margin: 0.7rem 0rem 0rem 0rem;
  border-radius: 15px;
}

.deletes {
  border: none;
  background-color: transparent;
  font-family: "Poppins";
  font-weight: bold;
}

.deletes:focus {
  background-color: transparent;
}

.title-todo {
  align-items: center;
  font-weight: bolder;
  color: var(--color-primary);
  font-size: 40px;
}
.title-todo a {
  font-weight: bolder;
  color: var(--color-primary);
  font-size: 30px;
  cursor: pointer;
}

.wrap {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.actions {
  width: 30%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
